<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="./logo.png">
  <title>Flex</title>
  <script defer src="<%= BASE_URL %>sql-wasm.js"></script>
</head>

<body style="background-color: rgb(37, 37, 37);">
  <div id="app"></div>
</body>

</html>
