<template>
  <video
    :src="src"
    controls
    autoplay
  ></video>
</template>

<script setup lang="ts">
import {toRefs} from 'vue';

export interface Props {
  src: string;
}
// eslint-disable-next-line no-undef
const props = defineProps<Props>();

// const src = URL.createObjectURL(toRefs(props).src);
const {src} = toRefs(props);
</script>
