<template>
  <v-container fluid style="height: 100%" :style="cssVars" class="backdrop-container pa-8 pa-md-16 pa-sm-12">
    <v-row>
      <span class="text-h2">{{item.name}}</span>
    </v-row>
    <v-row justify="start">
      <v-col cols="1" class="text-subtitle-1 mr-3">{{item.metadata?.year}}</v-col>
      <v-col cols="6" class="text-subtitle-1 font-weight-light">{{item.metadata?.runtime?.length}} {{item.metadata?.runtime?.units}}</v-col>
    </v-row>
    <v-spacer></v-spacer>
    <v-row>
      <div>
        {{item.metadata?.description}}
      </div>
    </v-row>
    <v-spacer></v-spacer>
    <v-row>
      <div>
        {{item.metadata?.description}}
      </div>
    </v-row>
  </v-container>
</template>

<style scoped lang="scss">
.backdrop-container {
  position: relative;
  z-index: 1;
}

.backdrop-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
  background: var(--backdrop-url);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3));
  mask-type: alpha;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 1200px) {
    background-size: contain;
  }
}
</style>

<script setup lang="ts">
import {FlexLibraryItem} from '#/library';
import {useFlexLibraryItemEntityStore, useFlexLibraryStore} from '#/library/state';
import {ref} from 'vue';
import {useRoute} from 'vue-router';

const route = useRoute();
const id = ref<string>(route.params.id as string);
const libraryItemEntityStore = useFlexLibraryItemEntityStore();
const libraryStore = useFlexLibraryStore();
await libraryStore.fetch();
const item: FlexLibraryItem = await (libraryItemEntityStore as any).get(id.value, 'media', 'library');
console.log(item);
const cssVars = ref({
  '--backdrop-url': `url("${item.metadata?.backdrop}")`,
});
</script>
