<template>
  <LibraryCard
    v-for="library in libraries"
    :key="library.uid"
    :library="library"
  ></LibraryCard>
</template>

<script setup lang="ts">
import {useFlexLibraryEntityStore, useFlexLibraryStore} from '#/library/state';
import LibraryCard from '@/LibraryCard.vue';

const libraryEntityStore = useFlexLibraryEntityStore();
const libraryStore = useFlexLibraryStore();
await libraryStore.fetch();
const libraries = await (libraryEntityStore as any).list('items');
</script>
