<template>
  <VideoPlayer
    :src="link"
  ></VideoPlayer>
</template>

<script lang="ts">
import axios from 'axios';
import {defineComponent, ref, watch} from 'vue';
import VideoPlayer from '#/video/components/VideoPlayer.vue';
import {useRoute} from 'vue-router';

export default defineComponent({
  async setup () {
    const route = useRoute();
    const get = async (id: string) => (await axios.get<string>(`http://localhost:3000/play/link?id=${id}`)).data;
    // watch(
    //   () => route.params.id,
    //   async newId => {
    //     if (newId) {
    //       link.value = await get(newId as string);
    //     }
    //   },
    // );
    const link = ref<string>(await get(route.params.id as string));
    return {
      link,
    };
  },
  components: {
    VideoPlayer,
  },
});
</script>
