<template>
  <v-container>
    <v-row>
      <h2>{{library.name}}</h2>
    </v-row>
    <v-spacer></v-spacer>
    <v-row
    >
    <template v-for="item in library.items" :key="item.uid">
      <v-col
        cols="4"
        sm="6"
        md="4"
        lg="2"
      >
        <v-card
          elevation="2"
          max-height="500"
        >
          <router-link
            :to="`/item/${item.uid}`"
          >
            <v-img
              :aspect-ratio="2/3"
              :src="item.metadata?.thumbnail || ''"
            ></v-img>
          </router-link>

          <v-card-title><div>{{item.name}}</div></v-card-title>

          <v-card-subtitle>
            {{item.metadata?.year}}
          </v-card-subtitle>
        </v-card>
      </v-col>
    </template>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import type {FlexLibrary} from '#/library';
import {toRefs} from 'vue';

export interface Props {
  library: FlexLibrary;
}
const props = defineProps<Props>();

const {library} = toRefs(props);
</script>
