<template>
  <v-app>
    <v-main>
      <router-view v-slot="{ Component, route }">
        <!-- <transition :name="route.meta.transition || 'fade'" mode="out-in">
          <keep-alive> -->
            <suspense>
              <template #default>
                <component
                  :is="Component"
                  :key="route.meta.usePathKey ? route.path : undefined"
                />
              </template>
              <template #fallback> Loading... </template>
            </suspense>
          <!-- </keep-alive>
        </transition> -->
      </router-view>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: 'App',

  data () {
    return {
      //
    };
  },
});
</script>
